<Section>
    <div id="contacto">
        <h3>Contacto</h3>
        <ul>
            <li><i class="ai-mention"></i><a href="mailto:disidirunq@gmail.com" target="_blank">disidirunq@gmail.com</a></li>
            <li><i class="ai-telegram-fill"></i><a href="https://t.me/+P9808Dv967BjYmFh" target="_blank">Espacio de reflexión TTNB+</a><br>
                Grupo de Telegram destinado para travestis, trans, no binaries. Espacio de pares.
            </li>
            <li><i class="ai-facebook-fill"></i><a href="https://www.facebook.com/groups/2299413103684849/" target="_blank">Amazonas del Sur</a><br>
                Grupo de Facebook de chicas trans y travestis</li>
        </ul>
    </div>
    <hr>

    <div>
        <h3>Encontranos en:</h3>
        <a href="https://goo.gl/maps/hXUCiSyJefpuu8467" target="_blank">
        <address><i class="ai-location"></i>Roque Sáenz Peña 352, Bernal, Provincia de Buenos Aires.</address>
        </a>
        <br>
        <h3>Links de interés</h3>
        <ul>
            <li><a href="http://www.unq.edu.ar/" target="_blank">Universidad Nacional de Quilmes</a></li>
            <li><a href="http://generos.web.unq.edu.ar/" target="_blank">Cátedra Abierta de Género y Sexualidades
                    UNQ</a></li>
            <li><a href="https://onedrive.live.com/?authkey=%21AHxfxGwJlgsp2TY&id=4E1DD7B3BE9BCD99%213103&cid=4E1DD7B3BE9BCD99"
                    target="_blank">Bibliografía de Géneros</a></li>
            <li><a href="" target="_blank">Ministerio de las Mujeres, Géneros y Diversidad</a></li>
        </ul>
    </div>
</Section>
<footer>
    © Disidir 2023<br>
    Todos los derechos reservados
</footer>