<header>
    <div class="titulo fade-in">
        <h1 class="tracking-in-expand">Disidir</h1>
        <em class="tracking-in-expand">Academia y Activismos</em>
    </div>
    <div class="hero">
        <div class="box">
            <p>Desde la convicción ética de la interseccionalidad, trabajamos juntxs transdisciplinariamente desde una
                perspectiva de Derechos Humanos y acceso a derechos.</p>
        </div><hr>
        <div class="box">
            <p>En este espacio se muestra parte del trabajo de equipos de Docencia, Investigación y Extensión de la
                Universidad Nacional de Quilmes, que producen conocimientos junto a militantes y activistas por la
                paridad
                política del Colectivo LGBTTIQ+. <br>
                Hemos trabajado junto a Conurbane Disidente y en la actualidad junto a Amazonas del Sur, integrando
                equipos
                conformados poractivistas, estudiantes, graduades recientes, docentes, investigadores y extensionistas
                de la
                Universidad Nacional de Quilmes.
            </p>
        </div>
    </div>
</header>