<main>
    <section>
        <h2>Docencia</h2>
        <article>
            <p>A partir del año 2020, en el marco de la Diplomatura en Ciencias Sociales, Dto. De Ciencias Sociales, se
                dicta el curso optativo “Introducción a las Teorías de género, Estudios feministas y Sexualidades
                disidentes”.
                En el recorrido se trabajan cuestiones de importancia para la formación de les estudiantes, en orden al
                trazado de cartografías conceptuales que alojen lo diverso desde los inicios de la formación
                universitaria a
                lo largo de los siguientes Módulos:
            </p>
            <ul>
                <li>Pensar los géneros, pensar la diferencia.</li>
                <li>Géneros, corporalidades y Academia.</li>
                <li>Devenir mujer: la femineidad como producción socio-histórica.</li>
                <li>Devenir varón: las masculinidades y su producción socio-histórica.</li>
                <li>Disidir: cuerpos, deseos y multiplicidady.</li>
                <li>Cuerpos en lucha: Activismos y Academia.</li>
            </ul>
            <a href="https://1drv.ms/b/s!ApnNm76z1x1OmjOTm_GgIhLTfrHd?e=oIwhm3" target="_blank">Introducción a las Teorías de Género, Estudios Feministas y Sexualidades Disidentes.</a>
        </article>

    </section>
</main>