<main>
    <h2>Mapeo Interactivo</h2>
    <section>
        <p>Entendemos la importancia de visibilizar un mapa como una herramienta discursiva más y como tal está cargado
            de valores. El poder de los mapas puede verse en sus distintas escalas. Por ejemplo, el mapa del territorio
            nacional cumple, entre otras, una función pedagógica de nacionalización de la naturaleza, creando una
            silueta cartográfica nacional.
            Este mapa tiene el objetivo de relevar, a través de las recomendaciones de pares lugares de acompañamiento,
            asesoría, salud y actividades culturales destinadas al colectivo travesti, trans, no binario, lesbianas,
            gays y bisexuales. Además, buscamos que el mapa pueda funcionar como una pieza comunicacional, que invite a
            la construcción de comunidad teniendo georreferenciadas las distintas organizaciones.
            Invitamos a quienes integran colectivos militantes y otras organizaciones a contactarse con nosotres y
            agregar su locación y modos de trabajo a este mapeo en curso.
            Entendemos la importancia de visibilizar un mapa como una herramienta discursiva más y como tal está cargado
            de valores. El poder de los mapas puede verse en sus distintas escalas. Por ejemplo, el mapa del territorio
            nacional cumple, entre otras, una función pedagógica de nacionalización de la naturaleza, creando una
            silueta cartográfica nacional.
            Este mapa tiene el objetivo de relevar, a través de las recomendaciones de pares lugares de acompañamiento,
            asesoría, salud y actividades culturales destinadas al colectivo travesti, trans, no binario, lesbianas,
            gays y bisexuales. Además, buscamos que el mapa pueda funcionar como una pieza comunicacional, que invite a
            la construcción de comunidad teniendo georreferenciadas las distintas organizaciones. <br> <br>
            Invitamos a quienes integran colectivos militantes y otras organizaciones a contactarse con nosotres y
            agregar su locación y modos de trabajo a este mapeo en curso.
        </p>
        <iframe src="https://www.google.com/maps/d/embed?mid=1fRxGTvr2KRaC_GcZ7kM_BdG0x_RzlUI&ehbc=2E312F"></iframe>
    </section>
</main>